.master-div {
  background-color: #eee;
  height: 100%;
  display: flex;
  width: 100%;
  border: solid 1px red;

  .master {
    background-color: #d6d6d6;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
  }
}
