.master-div {
    background-color: #eee;
    height: 100vh;
    display: flex;
    position: relative;
}

.fa-bars {
    font-size: 28px;
    position: absolute;
    top: 10px;
    display: none;
    left: 10px;
    color: #eee;
    z-index: 1000;

    @media (max-width: 1000px) {
        display: flex;
    }
}