.master-nav {
    display: flex;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    position: relative;
    flex: 0 0 350px;
    z-index: 1001;

    .animated-nav {
        background-color: #031b4d;
        transition: background-color 1.5s ease-in;
        height: 100%;
        display: flex;
        width: 100%;

        .subDiv {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 100%;
            height: 100%;

            .inner-con {
                display: flex;
                flex-direction: column;
                margin-top: auto;

                img {
                    margin: auto;
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                }

                .inner-text {
                    text-align: center;

                    h1 {
                        margin-bottom: 5px;
                    }

                    h2 {
                        margin-top: 0;
                    }
                }


                a {
                    text-decoration: none;
                    color: inherit;

                }
            }

            .links {
                display: flex;
                height: 15%;
                margin-top: auto;

                .sublinks {
                    margin: auto auto 25px auto;
                    padding-top: 15px;
                    display: flex;


                    a:first-child{
                        margin-right: 35px;
                    }
                    a {
                        margin: auto;

                        &:hover {
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        position: absolute;
        left: -450px;
    }
}

.app-links {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 10px;

    * {
        margin: 5px auto 5px auto;
    }
}



.appear {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
}

.linker:hover {
    color: rgba(255, 255, 255, 1) !important;
}