.master-nav {
    display: flex;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    position: relative;
    flex: 0 0 350px;

    .links {
        display: flex;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;

        .sublinks {
            margin: auto;

            a {
                font-size: 36px;
                padding: 0 15px 0 15px;
            }
        }
    }

    .animated-nav {
        background-color: #031b4d;
        transition: background-color 1.5s ease-in;
        height: 100%;
        margin: auto;
        display: flex;
        width: 100%;

        .subDiv {
            margin: auto;
        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }

        .inner-text {
            text-align: center;

            h1 {
                margin-bottom: 5px;
            }

            h2 {
                margin-top: 0;
            }
        }


        a {
            text-decoration: none;
            color: rgba(238, 238, 238, 0.75);


            &:hover {
                color: rgba(238, 238, 238, 1);
            }
        }
    }
    
    @media (max-width: 1000px) {
        display: none;
    }
}

.app-links {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 10px;

    * {
        margin: 5px auto 5px auto;
    }
}

.glow {

    a {
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
 
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.appear {
    display: flex;
}