body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  color: #b4bac2;
  background-color: #15191c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
